<section class="login pt-24">
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
          <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
              Enter Your Details
            </h2>
    
          </div>
          <form class="bg-white shadow-md rounded px-8 pt-6 mb-4" action="#" method="POST">
            <input type="hidden" class="" name="remember" value="true">
            
            <div class="mb-6">
                <div class="mb-4">
                    <label for="name" class="sr-only">Name</label>
                    <input id="text" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Enter Your Name">
                  </div>
              <div class="mb-4">
                <label for="email-address" class="sr-only">Email address</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
              </div>
              <div class="mb-4">
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
              </div>
            </div>

      
            <div>
              <button type="submit" class=" btn-primary rounded-full text-white font-bold py-2 px-4 mb-4 focus:outline-none focus:shadow-outline">
               Register
              </button>
              <a href="/login" style="color: #FE5F1E;" class="ml-24 font-bold" >Already have a account?</a>
            </div>
          </form>
          <p  class="text-center text-gray-500 text-xs">2021 Rainbow Restuarant. All Rights Reserved</p>
        </div>
      </div>
</section>